body {
    background: rgb(199, 218, 235);
    color: black;
    font-family: 'Poppins';
    margin: 0;
    padding: 14em 14em 14em 20em;
}

img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    top: 0;
    left: 0;
}

.container {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(48, 35, 35, 0.03);
}

h1 {
    margin-left: 3rem;
}